
<div class="col-xs-6">

	<big style="color: green">I Follow</big><br>

	<% @user.followees.each do |followee| %>
	<ul>
		<li>
			<%= link_to followee.username, tweets_path(:user_id => User.find_by(username: followee.username)) %>
			<br>
		</li>
	</ul>

	<% end %>
	
</div>

<div class="col-cs-6">

	<big style="color:red">Follow Me</big><br>
	
	
	<% @user.followers.each do |follower| %>
	<ul>
		<li>
			<%= link_to follower.username, tweets_path(:user_id => User.find_by(username: follower.username)) %>
			<br>
		</li>
	</ul>

	<% end %> 
	
</div>
